<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KD SPECIAL</title>
    <style>
      .navbar {
        background-color: red
        border-radius: 30;
      }
      .navbar li a {
        padding: 3px 3px;
      }
      .search {
        float: right;
        color: azure;
        padding: 12px 75px;
      }
      .navbar li a:hover {
        color: black;
      }
      .
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <lil><a href="#">Home</a></lil>
          <lil><a href="#">About</a></lil>
          <lil><a href="#">Service</a></lil>
          <lil><a href="#">Contact us</a></lil>
          <div class="search">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="search this website"
            />
          </div>
        </ul>
      </nav>
    </header>
  </body>
</html>
